# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
target
# CMake
cmake-build-debug/
cmake-build-release/

## File-based project format:
*.iws
*.iml

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

##Java
# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

##Custom ignores
#review freacking CassandraUnit tmpDir override
target/
application-custom-*.properties
application-custom-*.yml
spark-warehouse/

# local env
dump.sql
